{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Lista de Emails Cadastrados</title>
    <script type="text/javascript" src="{% static 'acruxtable/js/jquery-1.11.3.min.js' %}"></script>
</head>
<body>
    <div id="conteudo"></div>
    <script type="text/javascript" src="{% static 'acruxtable/js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'acruxtable/js/make_table.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            new MakeTable({
                'paginate': 10,
                'ordering': 'date',
            });
        });
    </script>
</body>
</html>
