{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Lista de Emails Cadastrados</title>
    <script type="text/javascript" src="{% static 'acruxtable/js/jquery-1.11.3.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'acruxtable/css/simplePagination.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'acruxtable/css/style.css' %}">
</head>
<body>
    <div class="conteudo">
        <div class="search">
            <input id="searchItems" type="text" placeholder="Search"></input>
            <p class="filterText" style="display: none">
                <strong>Filtrando por: <span class="itemSearch"></span> - </strong>
                <span class='removeFilterResearched'>Remover Filtro</span>
            </p>
        </div>
        <div class="filterLabel">
            <div class="filter">Pesquisar emails de hoje.</div>
            <div class="removeFilter" style="display: none">Voltar status inicial.</div>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="name">Nome</th>
                    <th class="subject">Assunto</th>
                    <th class="date">Data</th>
                </tr>
            </thead>
        <tbody class="items_json">
        </tbody>
        </table>
        <div class="footer-table">
            <div id="totalItems"></div>
            <div id="pagination"></div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'acruxtable/js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'acruxtable/js/jquery.simplePagination.js' %}"></script>
    <script type="text/javascript" src="{% static 'acruxtable/js/acruxTable.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            new MakeTable({
                'sortBy': 'date',
                'selectClass': ".items_json",
                // Valores padrões, definidos no próprio js, altere caso tenha necessidade
                // 'paginate': 10,
                // Valores aceitos asc e desc
                // 'sortOrder': 'asc',
            });
        });
    </script>
</body>
</html>
